<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="brezaApp.client.detail.title">Client</span> {{client.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="brezaApp.client.name">Name</span></dt>
                <dd>
                    <span>{{client.name}}</span>
                </dd>
                <dt><span jhiTranslate="brezaApp.client.address">Address</span></dt>
                <dd>
                    <span>{{client.address}}</span>
                </dd>
                <dt><span jhiTranslate="brezaApp.client.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{client.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="brezaApp.client.email">Email</span></dt>
                <dd>
                    <span>{{client.email}}</span>
                </dd>
                <dt><span jhiTranslate="brezaApp.client.city">City</span></dt>
                <dd>
                    <div *ngIf="client.city">
                        <a [routerLink]="['/city', client.city?.id, 'view']">{{client.city?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
