<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="onlineOrder">
            <h2><span jhiTranslate="brezaApp.onlineOrder.detail.title">Online Order</span> {{onlineOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="brezaApp.onlineOrder.address">Address</span></dt>
                <dd>
                    <span>{{onlineOrder.address}}</span>
                </dd>
                <dt><span jhiTranslate="brezaApp.onlineOrder.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{onlineOrder.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="brezaApp.onlineOrder.totalPrice">Total Price</span></dt>
                <dd>
                    <span>{{onlineOrder.totalPrice}}</span>
                </dd>
                <dt><span jhiTranslate="brezaApp.onlineOrder.city">City</span></dt>
                <dd>
                    <div *ngIf="onlineOrder.city">
                        <a [routerLink]="['/city', onlineOrder.city?.id, 'view']">{{onlineOrder.city?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="brezaApp.onlineOrder.client">Client</span></dt>
                <dd>
                    <div *ngIf="onlineOrder.client">
                        <a [routerLink]="['/client', onlineOrder.client?.id, 'view']">{{onlineOrder.client?.name}}</a>
                    </div>
                </dd>
            </dl>

            <hr>
            <jhi-online-order-item></jhi-online-order-item>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/online-order', onlineOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
